.hi{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.base{
    display: grid;
    justify-content: center;
    width: 500px;
    background-color: rgb(231, 227, 218);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .head{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}
.wrapper{
    display: grid;
    justify-content: center;
    padding: 20px;
}
.inputs-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputs-wrapper .label1{
    margin-right: 30px;
}
.inputs-wrapper .error-pop{
    color: red;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
form .success{
    color: rgb(5, 224, 5);
    animation:
      color 15s infinite;
}
@keyframes color{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }

}

form .failed{
    color: red;
}
